@media (max-width: 480px) {
  /* obal */
  .weather-app {
    width: 100%;
  }
  h1 {
    font-size: 180%;
  }

  .city-search-wrapper {
    display: grid;
    justify-items: center;
    gap: 10px;
  }

  #city-search__example {
    text-align: center;
    font-size: 55%;
  }

  .city-search__input {
    min-width: 180px;
    height: 25px;
  }

  #city-search-message {
    font-size: 55%;
  }

  #city-search-submit {
    height: 25px;
    font-size: 0.6em;
  }

  .weather-app__content {
    width: 95%;
    margin: 20px auto;
    font-size: 76%;
  }

  .weather-status {
    /* width: 90%; */
    gap: 3%;
  }

  .current-weather {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-area: current-weather;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "date time"
      "current-weather current-weather";
    max-width: 250px;
  }

  .current-weather__date-wrapper {
    grid-area: date;
    min-width: 60px;
    font-size: 90%;
    margin-bottom: 0;
  }

  .current-weather__time-wrapper {
    grid-area: time;
    min-width: 60px;
    margin-bottom: 0;
  }

  .weather-status {
    grid-area: current-weather;
  }

  .weather-status {
    max-width: 190px;
    margin: 0;
  }

  .location {
    display: flex;
    justify-content: center;
  }

  .location__name {
    min-width: 190px;
    margin: 0 auto;
  }
  .weather-details {
    font-size: 95%;
  }
}
