@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, cursive, sans-serif;
  position: relative;
  display: flex;
}

/* obal */
.weather-app {
  padding-top: 15px;
  width: 65%;
  height: 100vh;
  margin: 0 auto;
  background-image: url(img/fototapety-zelena-priroda-krajina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* nadpis */
h1 {
  width: 25%;
  margin: 20px auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 260%;
}

/* obal-input pro zadání města + tlačítko */
.city-search-wrapper {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  font-size: larger;
  margin: 0 0 3px 0;
}

#city-search__example {
  color: rgb(24, 44, 20);
  font-size: 62%;
  font-weight: bolder;
}

.city-search__input {
  height: 30px;
}

#city-search-message {
  font-size: 60%;
  font-weight: bolder;
}

/* tlačítko */
#city-search-submit {
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(15, 255, 195, 0.2);
  backdrop-filter: blur(6px) saturate(1) contrast(1);
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.089);
  border: 2px solid rgb(21, 207, 161);
  font-size: 0.7em;
  width: 110px;
  height: 30px;
  transition: width 0.7s ease, font-size 0.3s ease, border-radius 0.7s ease;
  cursor: pointer;
}

.weatherButton1 {
  margin-bottom: 17px;
}

/* tlačítko nastavení-animace border-hidden*/
@keyframes borderSlowlyHidden {
  0% {
    border-color: rgba(21, 207, 161, 1);
  }
  20% {
    border-color: rgba(21, 207, 161, 0.8);
  }
  40% {
    border-color: rgba(21, 207, 161, 0.6);
  }
  60% {
    border-color: rgba(21, 207, 161, 0.4);
  }
  80% {
    border-color: rgba(21, 207, 161, 0.2);
  }
  100% {
    border-color: transparent;
  }
}

/* provedení animace border-hidden */
#city-search-submit:hover {
  width: 130px;
  border-radius: 13px 0 13px 0;
  animation: borderSlowlyHidden 0.6s forwards;
}

/* levý-horní roh-nastavení */
#city-search-submit::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  border-top: 2px solid rgb(21, 207, 161);
  border-left: 2px solid rgb(21, 207, 161);
  border-top-left-radius: 10px;
  width: 20px;
  height: 20px;
  opacity: 0; /* na začátku jsou rohy skryté */
}

/* pravý-dolní roh-nastavení */
#city-search-submit::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  border-right: 2px solid rgb(21, 207, 161);
  border-bottom: 2px solid rgb(21, 207, 161);
  border-bottom-right-radius: 10px;
  width: 20px;
  height: 20px;
  opacity: 0;
}

/* rohy tlačítka nastavení-animace */
@keyframes showCornerBefore {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showCornerAfter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* provedení animace rohů po najetí myší */
#city-search-submit:hover::before {
  animation: showCornerBefore 0.7s forwards;
}

#city-search-submit:hover::after {
  animation: showCornerAfter 0.7s forwards;
}

/* obalující element seznam ikon, stav počasí, popisky k počasí, datum,čas,aktuální stav o počasí-horní část */
.weather-app__content {
  padding: 30px 0 10px 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  margin: 20px 5% 0 20%;
  background-color: rgba(15, 255, 195, 0.2);
  backdrop-filter: blur(6px) saturate(1) contrast(1);
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.089);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 30% 0 0 0;
}

.location {
  width: 100%;
  display: flex;
  justify-content: end;
}

.location__name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 0 0;
  width: 32%;
  max-width: 350px;
  height: 30px;
  background-color: rgba(207, 207, 207, 0.6);
  box-shadow: inset 3px 3px 6px 1px rgba(20, 20, 20, 0.2), inset -3px -3px 6px 1px rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

/* obalující element jen datum,čas,aktuální stav o počasí-horní část */
.current-weather {
  display: flex;
  justify-content: end;
  gap: 5%;
  width: 100%;
  font-size: 90%;
}
/* datum a čas kdy došlo k načtení dat o počasí */
.current-weather__date-wrapper,
.current-weather__time-wrapper {
  width: 20%;
  min-width: 90px;
  height: 30px;
  border-color: #e6e9ef #dfdddd #c5c4c4 #e6e9ef;
  background-color: rgba(207, 207, 207, 0.6);
  box-shadow: inset 3px 3px 6px 1px rgba(20, 20, 20, 0.2), inset -3px -3px 6px 1px rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  border-radius: 10px;
}

/* vždy jedna ikona s textem vpravo nahoře v šedém poli=značí vždy současné počasí např:ikona+zataženo */
.weather-status {
  margin: 0 10px 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(207, 207, 207, 0.6);
  box-shadow: inset 3px 3px 6px 1px rgba(20, 20, 20, 0.2), inset -3px -3px 6px 1px rgba(255, 255, 255, 0.9);
  width: 25%;
  max-width: 300px;
  height: 30px;
  border-radius: 10px;
}

/* obalující element,rodič, ikony + text k načteným datům*/
.weather-details {
  display: flex;
  gap: 10px;
}

/* obal dítě ikony text */
.weather-details__icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.weather-details__row {
  display: flex;
  gap: 10px;
}

.weather-details__label {
  padding-top: 8px;
}
/* obal načtená data o počasí */
.weather-details__values {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

span {
  display: inline-block;
  height: 35px;
}

/* jednotlivá načtená data o počasí */
.weather-details__value--sunrise,
.weather-details__value--sunset,
.weather-details__value--feels-like,
.weather-details__value--temperature,
.weather-details__value--rain,
.weather-details__value--precipitation-7h,
.weather-details__value--wind-speed,
.weather-details__value--extra {
  padding-top: 5px;
}

/* ---třídy pro ukrývání a zobrazování elementů na stránce pomocí javasriptu--- */
.is-hidden {
  display: none;
}

.invalid {
  color: rgb(228, 23, 15);
}

.valid {
  color: rgb(24, 44, 20);
}
