@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins, cursive, sans-serif;
  position: relative;
}

/* obal */
.container {
  padding-top: 15px;
  max-width: 65%;
  height: 100vh;
  margin: auto;
  background-image: url(img/fototapety-zelena-priroda-krajina.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

/* nadpis */
h1 {
  width: 25%;
  margin: 20px auto;
  margin-bottom: 20px;
  text-align: center;
  font-size: 260%;
}

/* obal-input pro zadání města + tlačítko */
.inputCity {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 30px;
  font-size: larger;
  margin: 0 0 3px 0;
}

.cityInput {
  height: 30px;
}

#pattern {
  color: rgb(24, 44, 20);
  font-size: 62%;
  font-weight: bolder;
}

#noticeMessage {
  font-size: 60%;
  font-weight: bolder;
}

/* tlačítko */
#weatherButton {
  border-radius: 5px 5px 5px 5px;
  background-color: rgba(15, 255, 195, 0.2);
  backdrop-filter: blur(6px) saturate(1) contrast(1);
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.089);
  border: 2px solid rgb(21, 207, 161);
  font-size: 0.7em;
  width: 110px;
  height: 30px;
  transition: width 0.7s ease, font-size 0.3s ease, border-radius 0.7s ease;
  cursor: pointer;
}

.weatherButton1 {
  margin-bottom: 17px;
}

/* tlačítko nastavení-animace border-hidden*/
@keyframes borderSlowlyHidden {
  0% {
    border-color: rgba(21, 207, 161, 1);
  }
  20% {
    border-color: rgba(21, 207, 161, 0.8);
  }
  40% {
    border-color: rgba(21, 207, 161, 0.6);
  }
  60% {
    border-color: rgba(21, 207, 161, 0.4);
  }
  80% {
    border-color: rgba(21, 207, 161, 0.2);
  }
  100% {
    border-color: transparent;
  }
}

/* provedení animace border-hidden */
#weatherButton:hover {
  width: 15%;
  border-radius: 13px 0 13px 0;
  animation: borderSlowlyHidden 0.6s forwards;
}

/* levý-horní roh-nastavení */
#weatherButton::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  border-top: 2px solid rgb(21, 207, 161);
  border-left: 2px solid rgb(21, 207, 161);
  border-top-left-radius: 10px;
  width: 20px;
  height: 20px;
  opacity: 0; /* na začátku jsou rohy skryté */
}

/* pravý-dolní roh-nastavení */
#weatherButton::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  border-right: 2px solid rgb(21, 207, 161);
  border-bottom: 2px solid rgb(21, 207, 161);
  border-bottom-right-radius: 10px;
  width: 20px;
  height: 20px;
  opacity: 0;
}

/* rohy tlačítka nastavení-animace */
@keyframes showCornerBefore {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showCornerAfter {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* provedení animace rohů po najetí myší */
#weatherButton:hover::before {
  animation: showCornerBefore 0.7s forwards;
}

#weatherButton:hover::after {
  animation: showCornerAfter 0.7s forwards;
}

/* obalující element seznam ikon, stav počasí, popisky k počasí, datum,čas,aktuální stav o počasí-horní část */
.list-icons-items {
  padding: 30px 0 10px 0;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  margin: 13% 5% 0 20%;
  background-color: rgba(15, 255, 195, 0.2);
  backdrop-filter: blur(6px) saturate(1) contrast(1);
  box-shadow: 3px 3px 3px rgb(0, 0, 0, 0.089);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 30% 0 0 0;
}

.cityName-countryCode-region {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 60%;
  width: 31%;
  max-width: 200px;
  height: 30px;
  background-color: rgba(207, 207, 207, 0.6);
  box-shadow: inset 3px 3px 6px 1px rgba(20, 20, 20, 0.2), inset -3px -3px 6px 1px rgba(255, 255, 255, 0.9);
  border-radius: 10px;
}

/* obalující element jen datum,čas,aktuální stav o počasí-horní část */
.date-time-current-weather {
  display: flex;
  justify-content: end;
  gap: 5%;
  width: 100%;
}
/* datum a čas kdy došlo k načtení dat o počasí */
.container-date,
.container-timeGetOfData {
  width: 150px;
  height: 30px;
  border-color: #e6e9ef #dfdddd #c5c4c4 #e6e9ef;
  background-color: rgba(207, 207, 207, 0.6);
  box-shadow: inset 3px 3px 6px 1px rgba(20, 20, 20, 0.2), inset -3px -3px 6px 1px rgba(255, 255, 255, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  border-radius: 10px;
}
/* vždy jedna ikona s textem vpravo nahoře v šedém poli=značí vždy současné počasí např:ikona+zataženo */
.current-weather {
  margin: 0 10px 0 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(207, 207, 207, 0.6);
  box-shadow: inset 3px 3px 6px 1px rgba(20, 20, 20, 0.2), inset -3px -3px 6px 1px rgba(255, 255, 255, 0.9);
  width: 150px;
  height: 30px;
  border-radius: 10px;
}

/* obalující element,rodič, ikony + text k načteným datům*/
.only-icon-label {
  display: flex;
  gap: 20px;
}

/* obal dítě ikony text */
.icons {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icons-text {
  display: flex;
  gap: 10px;
}

.icons-label {
  padding-top: 8px;
}
/* obal načtená data o počasí */
.current-weather-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

span {
  display: inline-block;
  height: 35px;
}

/* jednotlivá načtená data o počasí */
.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item9 {
  padding-top: 5px;
}

/* ---třídy pro ukrývání a zobrazování elementů na stránce pomocí javasriptu--- */
.hidden {
  display: none;
}

.invalid {
  color: rgb(228, 23, 15);
}

.valid {
  color: rgb(24, 44, 20);
}
